body{
    background-color: #222e3a;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.list-group-item {
  transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
  background-color: #0d6efd; /* Color primario de Bootstrap */
  color: #fff;
  cursor: pointer;
}
.card-title {
  font-family: "Outfit", Arial, sans-serif;
  font-size: 60px;
}

.custom-ask-btn {
  color: #fff;
  background-color: #0ea8c7; /* Celeste Bootstrap */
  border: none;
  transition: background-color 0.3s;
  font-family: "Outfit", Arial, sans-serif;
}
.custom-ask-btn {
  transition: background-color 0.3s, color 0.3s;
}
.custom-ask-btn:hover {
  background-color: #0d6efd; /* Azul Bootstrap */
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.8); /* Blanco con transparencia */
  /* Puedes ajustar el 0.92 para más o menos transparencia */
}

.modal-backdrop.show {
  background-color: #c2d7db !important; /* Celeste */
  opacity: 0.7 !important; /* Ajusta la opacidad si lo deseas */
}

.form-control {
  border-radius: 2rem; /* Ajusta el valor para más o menos redondez */
  border-radius: 2rem;
  background-color: #e6f7fa; /* Color de fondo del input */
  color: #222e3a;
}

.modal-header {
  border-bottom: none;
}

textarea.form-control {
  resize: none !important;
}

.custom-select-asignatura {
  max-width: 220px;
  background-color: #e6f7fa;
  border: 2px solid #0ea8c7;
  color: #222e3a;
  font-family: "Outfit", Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(14, 168, 199, 0.07);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-select-asignatura:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.15);
}

.icon-math-dark {
  color: #000 !important;
  font-weight: bold;
  text-shadow: 0 0 2px #222;
}

/* SLIDERRR */

* {
  margin: 0;
  padding: 0;
}

.slider {
  width: 500px;
  height: 200px;
  overflow: hidden;
}

figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: 10s slide infinite;
}

.slide {
  position: relative;
  width: 25%;
  float: left;
}

.slide h1 {
  position: absolute;
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img {
  width: 50px;
  height: auto;
}

@keyframes slide {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  55% {
    left: -300%;
  }
  65% {
    left: -300%;
  }
  66% {
    left: -200%;
  }
  74% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0;
  }
  1000% {
    left: 0;
  }
}
